* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;

}


main {
    display: flex;
    justify-content: space-around;
    padding: 80px 60px;
}

h1 {
    color: #240F08;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 35px;
}

#all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
}

li {

    list-style: none;

}

.items {
    width: 240px;
    height: 330px;
}

.div-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-products {
    width: 95%;
    border-radius: 5px;


}

.images {
    border: 1px solid transparent;
}

.sub-title {
    color: #a07d75;
}

h4 {
    color: #240F08;
}

.price {
    color: #c73a0f;
    font-weight: 700;
}

.btn {
    width: 67%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #260f08;
    position: relative;
    bottom: 14px;
}



.add-to-cart {

    font-size: 17px;
    gap: 6px;

    &:hover {
        cursor: pointer;
        border-color: #c73a0f;
        color: #c73a0f;
    }
}


.quantity-products {
    width: 67%;
    height: 37px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: none;
    position: relative;
    bottom: 14px;
    background: #c73a0f;
    font-size: 22px;

}



.btn-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fcf9f7;
    color: #fcf9f7;

    &:hover {
        cursor: pointer;
        background-color: #fcf9f7;
        color: #c73a0f;
    }
}


.img-quant {
    width: 50%;
}

.img-cart-add {
    width: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

aside {

    width: 30%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
        color: #c73a0f;
        font-size: 27px;
        font-weight: 900;
    }

    img {
        width: 50%;
    }

    p {
        color: #846159;
    }
}

#cart-products {

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.name-item {
    display: flex;
}

.price-items {
    display: flex;
    gap: 20px;

    button {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        left: 30%;
        bottom: 80%;
        border: 1px solid black;

        &:hover {
            cursor: pointer;
        }
    }
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img {
        width: 29px;
    }
}

.confirm-order {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
    color: #fcf9f7;
    background-color: #c73a0f;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }

    &:active {
        opacity: .7;
    }
}

.name-product {
    color: #260f08;
    font-size: 18px;
    font-weight: 600;
}